/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #0c0c0c;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
section:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: rgb(231, 235, 245);
}



/* When the section enters the viewport */
section.show {
  opacity: 1;
  transform: translateY(0);
}


h2 {
  color: #2c3e50;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Social Icons */
.social-icons,
.blog-icons {
  margin-top: 10px;
}

.social-icons img,
.blog-icons img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  transition: transform 0.2s;
}

.social-icons img:hover,
.blog-icons img:hover {
  transform: scale(1.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
      text-align: center;
      padding: 0;
  }
  nav ul li {
      display: block;
      margin: 10px 0;
  }
}
